{% extends "base.html" %}

{% block title %} About {% endblock title %}
{% load static %}
{% block body %}
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
      </div>
      As an associate scientist with a background in statistical analysis, I specialize in consulting and leveraging my expertise to solve complex problems through advanced statistical modeling techniques, delivering actionable insights and recommendations.
      <br><br><br>
      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'assets/img/Profile.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Data Analyst &amp; Full Stack Developer.</h3>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+14372564623</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span> Toronto</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Bachelor's Degree:</strong> <span>Computer Engineering</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>barvadiarushin@gmail.com</span></li>
              </ul>
            </div>
          </div>
          <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                          <center>
                            <div class="col-14 ">
                                <a class="btn btn-danger"
                                    href="https://drive.google.com/file/d/1g1HaccRghpawjDIuC0Fyfcbb9qUMCSvT/view?usp=drive_link"
                                    role="button">Resume (.pdf)</a>
                                    <a class="btn btn-primary"
                                    href="https://docs.google.com/document/d/139aSUoSLjQuZx4ut_Au6IyhaO0i6Ifgm/edit?usp=sharing&ouid=117090971573734055307&rtpof=true&sd=true"
                                    role="button">My Resume(.docx)</a>
                            </div>
                          </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <p>
            
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


{% endblock body %}