{% extends "base.html" %} 
{% block title %} Login {% endblock title %} 
{% load static %} 
{% block body %}
<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>Projects</h2>
      
    </div>

    <div class="row">
      
  {% for post in posts reversed%}
      <div class="container" data-aos="fade-up">
        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <br />
        <h4 class="title"><a href="">{{post.title}}</a></h4>
        <br />
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{post.img.url}}" width="900" height="550"  alt="no-image" />
        </div>
        <br />
        <p>{{post.description}}</p>
      </div>
  {% endfor %}
    </div>
  </div>
</section>
{% endblock body %}
