{% extends "base.html" %}
{% block title %} Resume {% endblock title %}
{% load static %} 
{% block body %}
<br />
<br />
<br />

<div class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-sm">
            <h3> Rushin Barvadia</h3>

            <div class="row">
                <div class="col-sm-3">
                    <figure class="figure">
                        <img src="{% static 'assets/img/Profile.jpg' %}" class="figure-img img-fluid rounded"
                            alt="A generic square placeholder image with rounded corners in a figure.">
                        <figcaption class="figure-caption">Rushin Barvadia</figcaption>

                    </figure>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-14">
                            <p>Hi, My name is Rushin Barvadia i am Experienced and innovative Software Engineer/Developer 
                                with a passion for creativity and a drive for innovation. 
                                Committed to collaborating with teams and staying current with the latest technical advancements. 
                                Seeking a challenging role as a data analyst to contribute to the development of cutting-edge technology and innovation. 
                                As a pragmatic and articulate professional, I consistently leverage my creativity and leadership abilities to drive results while maintaining
                                reliability and adaptability in various situations.
                            </p>
                            <p>Here is the link to my Resume</p>
                            <a class="btn btn-primary"
                                href="https://drive.google.com/file/d/1mRHUgP6hbZTMvNE3nRht1xkJceLt9M2N/view?usp=sharing"
                                role="button">My
                                Resume</a>
                                <a class="btn btn-primary"
                                href="https://drive.google.com/file/d/1mRHUgP6hbZTMvNE3nRht1xkJceLt9M2N/view?usp=sharing"
                                role="button">My
                                Resume</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
